{
    "presets": ["env"],
    "env": {
      "test": {
        "plugins": [
          "istanbul"
        ]
      }
    },
    "plugins": [["inline-dotenv",{
    "path": ".env"
  }],
  "transform-runtime"]
  }